@model musicProject.Models.AlbumModels.AlbumCreate

@{
    ViewData["Title"] = "Create";
}

<div id="create" class="container">
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label for="Title">Title</label>
            <input id="createInput" asp-for="Title" class="form-control" name="Title" placeholder="title" />
        </div>
        <div class="form-group">
            <label for="ArtistId">Artist</label>
            <select id="createInput" asp-for="ArtistId" asp-items="ViewBag.ArtistId" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="Genre">Genre</label>
            <input id="createInput" type="text" class="form-control" name="Genre" placeholder="genre" />
        </div>
        <div class="form-group">
            <label for="Released">Released</label>
            <input id="createInput" type="date" class="form-control" name="Released" placeholder="2024" />
        </div>
        <button id="createArtistButton" type="submit" class="btn btn-primary btn-block mt-2">Create</button>
    </form>
</div>