@model musicProject.Models.ArtistModels.ArtistCreate

<div class="container">
    <form method="post" asp-action="Create">
        <div id="create" class="form-group">
            <label for="Name">Artist Name</label>
            <input id="createInput" asp-for="Name" class="form-control" name="Name" placeholder="Name" />
        </div>
        <button id="createArtistButton" type="submit" class="btn btn-block ">Create</button>
    </form>
</div>