@model musicProject.Models.ArtistModels.ArtistCreate

<div class="container">
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label for="Name">Name</label>
            <input asp-for="Name" class="form-control" name="Name" placeholder="Name" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-2">Create</button>
    </form>
</div>