@model IEnumerable<musicProject.Models.ArtistModels.ArtistListItem>

<div class="text-center">
<h1>All Artists</h1>
<a id="actions" asp-action="Create" asp-controller="Artist" class="text-primary">Create An Artist</a>
</div>

<table id="table">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.Name</td>
                <td><a asp-action="Detail" asp-controller="Artist" asp-route-name="@artist.Name">Details</a></td>
            </tr>
        }
    </tbody>
</table>
