@* @{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p> *@
<h1>Privacy Policy</h1>
<br />
<h5>We reserve the right to do anything we want with your personal info.</h5>
<h6>All rights for images and music go to their respective owners</h6>
